#page-root{
    margin: 2.75rem auto;
}

.banner{
    min-height: 224px;
    box-sizing: border-box;
}

.collapse-wrapper{
    width: 80%;
    margin: 2.125rem auto 0;
}

.collapse{
    font-size: 1.5rem;
    font-weight: 400;
}

.collapse:not(:last-child){
    margin-bottom: 2.125rem;
}

.collapse > header{
    font-weight: 500;
}

.collapse > *{
    font-size: inherit;
}

.collapse > section > *{
    padding: 1rem 1rem .5rem;
}

/* Responsive */
@media screen and (width <= 40rem) {
    #page-root{
        margin: 1rem auto;
    }

    .collapse-wrapper{
        margin-top: 1.25rem;
        width: 100%;
    }

    .collapse{
        font-size: .875rem;
    }

    .collapse header{
        font-size: 1rem;
    }

}