/*
    Main CSS File containing all Global custom properties, css properties and classes
*/

/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* App Global Settings */
:root {
    /* === Global Custom Properties */

    /* Colors */
    --color-bg-primary: #fff;
    --color-bg-secondary: #ff6060;
    --color-txt-primary: var(--color-bg-secondary);
    --color-txt-secondary: var(--color-bg-primary);

    /* === Font */
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 1em;
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-txt-primary);

    /* === Background */
    background: var(--color-bg-primary);

}

/* Tiny Reset */
* {
    color: inherit;
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
}

/* Wrapper */
.wrapper {
    display: block;
    width: 1240px;
    margin: auto;
    box-sizing: border-box;
}

@media screen and (width <= 80rem) {
    .wrapper {
        width: 100%;
        padding: 0 1rem;
    }

}

/* Display Utilities */
.d-block {
    display: block;
}

.d-i-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

/* Responsive Classes */
@media screen and (width < 80rem) {
    .large-only {
        display: none;
    }
}

.medium-only {
    display: none;
}

@media screen and (width > 48rem) and (width <= 80rem) {
    .medium-only {
        display: block;
    }
}

.medium-down {
    display: none;
}

@media screen and (width <= 80rem) {
    .medium-down {
        display: block;
    }
}

.small-down {
    display: none;
}

@media screen and (width <= 48rem) {
    .small-down {
        display: block;
    }
}

.very-small-only {
    display: none;
}

@media screen and (width <= 40rem) {
    .very-small-only {
        display: block;
    }
}
