#page-root {
    margin: 6rem auto;
    text-align: center;
}

.d-flex {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.title {
    font-size: 18rem;
    font-weight: 700;
}

.text {
    font-size: 2.25rem;
}

.link {
    margin-top: 5rem;
    font-size: 1.125rem;
}

/* Responsive */
@media screen and (width <= 40rem) {
    #page-root{
        margin: 12rem auto;
    }

    .title{
        font-size: 6rem;
    }

    .text{
        font-size: 1.125rem;
    }

    .link{
        font-size: .875rem;
    }

}