#page-header {
    color: inherit;
    margin: 2.5rem auto 0;
}

.d-flex {
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.header-logo{
    max-width: 210px;
    height: auto;
}

/* Nav links */
.nav-link {
    font-size: 1.5rem;
    text-decoration: none;
}

.nav-link:not(:last-child) {
    margin-right: 3.5rem;
}

.nav-link.active, .nav-link:hover {
    text-decoration: underline;
}

@media screen and (width <= 48rem) {
    .header-logo{
        max-width: 180px;
        width: 30vw;
    }

    .nav-link {
        font-size: 1rem;
        text-transform: uppercase;
    }

    .nav-link:not(:last-child) {
        margin-right: 2.5rem;
    }


}

@media screen and (width <= 30rem) {
    .nav-link {
        font-size: 0.75rem;
    }

    .nav-link:not(:last-child) {
        margin-right: 0.75rem;
    }

}