#page-root {
    margin-top: 1.25rem;

}

#location-details {
    margin-top: 1.875rem;
    justify-content: space-between;
    align-items: stretch;
}

#location-details header{
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 2.25rem;
    margin-bottom: .2rem;
}

.subtitle {
    font-size: 1.125rem;
}

#tags-container{
    margin-top: 1.25rem;
    gap: .625rem;
}

#secondary-details{
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 2rem;
}

#host-details{
    align-items: center;
}

.host-name {
    text-align: right;
    margin-right: .625rem;
    font-size: 1.125rem;
}

.profile-picture {
    border-radius: 50%;
    width: 64px;
    height: auto;
}
