.host-name {
    text-align: right;
    margin-right: .625rem;
    font-size: 1.125rem;
}

.profile-picture {
    border-radius: 50%;
    width: 64px;
    height: auto;
}

/* Responsive */
@media screen and (width <= 40rem) {
    .host-name{
        font-size: 1rem;
    }

    .profile-picture{
        width: 40px;
    }

}